<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container">
    <div class="login-form">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
        ></ion-input>
      </ion-item>

      <ion-button expand="block">Login</ion-button>
    </div>
  </div>
</ion-content>
