<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Import Data</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h3 style="text-align: center">Import JsonData.</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <form (ngSubmit)="onSubmit()">
            <ion-input
              type="file"
              (change)="onFileSelected($event)"
            ></ion-input>
            <ion-button type="submit" [disabled]="!fileSelected"
              >Import</ion-button
            >
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
