<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="searchItems()"></ion-searchbar>

  <ion-list style="text-align: center;">
    <ion-text *ngIf="searchResults.length > 0">List of Schools</ion-text>
    <ion-item *ngFor="let school of searchResults; let i = index;" (click)="onSchoolClick(school)">
      <div>{{i + 1}})&nbsp;&nbsp;&nbsp;&nbsp;{{ school.name }}</div>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let child of selectedChilds">
    <ion-card-header style="text-align: center;">
      <ion-card-title>Name : {{ child.childName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Father : {{child.fatherName}}</ion-item>
      <ion-item>Mother: {{child.motherName}}</ion-item>
      <ion-item>Date of Birth : {{child.dateOfBirth | date: 'short'}}</ion-item>
      <ion-item>Email : {{child.email}}</ion-item>
      <ion-item>WhatsApp# :{{child.whatsappNumber}}</ion-item>
      <ion-item lines="none">
        <ion-button size="small" (click)="onDownload(child)" slot="end">download</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="showClearSearchButton" (click)="clearSearch()" expand="full" color="medium">
    Clear Search
  </ion-button>
</ion-content>
