<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="searchItems()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let school of searchResults" (click)="onSchoolClick(school)">
      <ion-label>{{ school.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let child of selectedChilds">
    <ion-card-header>
      <ion-card-title>Name : {{ child.childName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Father : {{child.fatherName}}</ion-item>
      <ion-item>Mother: {{child.motherName}}</ion-item>
      <ion-item>Date of Birth : {{child.dateOfBirth | date: 'short'}}</ion-item>
      <ion-item>Email : {{child.email}}</ion-item>
      <ion-item>WhatsApp# :{{child.whatsappNumber}}</ion-item>
      <ion-item lines="none">
        <ion-button size="small" (click)="onDownload(child)" slot="end">download</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="searchQuery !== ''" (click)="clearSearch()" expand="full" color="medium">
    Clear Search
  </ion-button>
</ion-content>
